name: Tests

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        ruby: [2.5, 2.6]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2

    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true # runs 'bundle install' and caches installed gems automatically

    - name: Run hiptest-publisher --help locally
      run: bundle exec ruby -I lib bin/hiptest-publisher --help

    - name: RSpec
      run: bundle exec rspec

    - name: Build and install hiptest-publisher gem
      run: |
        bundle exec rake gemspec
        gem build hiptest-publisher.gemspec
        gem install hiptest-publisher-*.gem

    - name: Run hiptest-publisher --help from gem
      run: hiptest-publisher --help
